body {
  overflow-x: hidden;
}
.small-text {
  font-size: 0.8rem;
}
.nav-item {
  font-size: 0.8rem;
  color: #9b9b9b;
}
.nav-item a {
  text-decoration: none;
  color: #9b9b9b;
}
.nav-item a:hover {
  color: black;
}
.nav-item svg {
  height: 32px;
  width: 32px;
  fill: #363362;
}
.nav-item:hover svg,
.nav-item.active svg {
  fill: #CC2626;
}
.nav-item .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #9b9b9b;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid black;
  border-radius: 0px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media all and (min-width: 1900px) {
  .container {
    max-width: 1730px;
  }
  #navbar-search {
    display: block !important;
  }
}
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("../images/masthead.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.masthead .banner-text {
  position: absolute;
  top: 45%;
  right: 10%;
  z-index: 200;
  line-height: 50px;
}
.masthead .banner-text .lead-text {
  font-weight: 400;
  font-size: 100px;
  color: #363362;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.masthead .banner-text .following-text {
  font-weight: 700;
  font-size: 100px;
  color: #CC2626;
  padding-left: 3rem;
  margin-top: -1rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
#stores .stores-row .col {
  height: 480px;
}
#stores .header-row {
  font-weight: 400;
  font-size: 41px;
}
#stores .store-card {
  position: relative;
}
#stores .visit-btn {
  position: absolute;
  height: 2.8rem;
  display: block;
  width: 15rem;
  background: #D12F2F;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  bottom: 2%;
  right: 2%;
  border: none;
}
#testimonials {
  margin-top: 10rem;
  margin-bottom: 5rem;
}
#testimonials .slick-prev:before,
#testimonials .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  color: #CC2626;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#offers {
  margin-top: 10rem;
  margin-bottom: 10rem;
  position: relative;
}
#offers .offers-banner {
  height: 50vh;
  min-height: 250px;
  background-image: url("../images/offers-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#offers .overlay-div {
  background-color: #7B9AC9;
  height: 100%;
  opacity: 0.3;
  z-index: 100;
}
#offers .overlay-div .offer-box {
  color: white;
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 200;
}
#cinemas .title-row {
  position: relative;
}
#cinemas .cinema-big-header {
  font-size: 41px;
  font-weight: 400;
  color: #4F4F4F;
}
#cinemas .cinema-small-header {
  position: absolute;
  bottom: -2em;
  font-size: 26px;
  font-weight: 400;
  color: #727272;
}
@media (min-width: 1900px) {
  #cinemas {
    height: 500px;
  }
  #cinemas img {
    bottom: 1em;
    height: 480px;
  }
  #cinemas .separator {
    border: 0;
    height: 55px;
    background-repeat: no-repeat;
  }
  #cinemas .cinema-info {
    font-size: 26px;
    color: #4F4F4F;
  }
  #cinemas .runtime {
    font-size: 16px;
    color: #4F4F4F;
  }
}
