//Variables
@font-family : "Roboto",
sans-serif;
@primary-color  : #CC2626;
@secondary-color: #363362;
@faded-color    : #9b9b9b;
@button-color   : #D12F2F;

body {
    overflow-x: hidden;
}

.small-text {
    font-size: 0.8rem;
}

.nav-item {
    font-size: 0.8rem;
    color    : @faded-color;

    a {
        text-decoration: none;
        color          : @faded-color;

        &:hover {
            color: black;
        }

    }

    svg {
        height: 32px;
        width : 32px;
        fill  : @secondary-color;

    }

    &:hover,
    &.active {
        svg {
            fill: @primary-color;
        }
    }

    .form-control {
        display         : block;
        width           : 100%;
        height          : calc(1.5em + .75rem + 2px);
        padding         : .375rem .75rem;
        font-size       : 0.8rem;
        font-weight     : 400;
        line-height     : 1.5;
        color           : @faded-color;
        background-color: #fff;
        background-clip : padding-box;
        border          : 1px solid black;
        border-radius   : 0px;
        transition      : border-color .15s ease-in-out, box-shadow .15s ease-in-out
    }
}

@media all and (min-width: 1900px) {
    .container {
        max-width: 1730px;
    }

    #navbar-search {
        display: block !important;
    }
}

.masthead {
    height             : 100vh;
    min-height         : 500px;
    background-image   : url("../images/masthead.png");
    background-size    : cover;
    background-position: center;
    background-repeat  : no-repeat;
    position           : relative;

    .banner-text {
        position   : absolute;
        top        : 45%;
        right      : 10%;
        z-index    : 200;
        line-height: 50px;

        .lead-text {
            font-weight              : 400;
            font-size                : 100px;
            color                    : @secondary-color;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
        }

        .following-text {
            font-weight              : 700;
            font-size                : 100px;
            color                    : @primary-color;
            padding-left             : 3rem;
            margin-top               : -1rem;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
        }
    }
}

#stores {
    .stores-row .col {
        height: 480px;
    }

    .header-row {
        font-weight: 400;
        font-size  : 41px;
    }

    .store-card {
        position: relative;
    }

    .visit-btn {
        position      : absolute;
        height        : 2.8rem;
        display       : block;
        width         : 15rem;
        background    : @button-color;
        color         : white;
        text-transform: uppercase;
        font-size     : 14px;
        letter-spacing: 2px;
        bottom        : 2%;
        right         : 2%;
        border        : none;
    }
}

#testimonials {
    margin-top   : 10rem;
    margin-bottom: 5rem;

    .slick-prev:before,
    .slick-next:before {
        font-family            : 'slick';
        font-size              : 20px;
        line-height            : 1;
        color                  : @primary-color;
        -webkit-font-smoothing : antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

#offers {
    margin-top   : 10rem;
    margin-bottom: 2rem;
    position     : relative;

    .offers-banner {
        height             : 50vh;
        min-height         : 250px;
        background-image   : url("../images/offers-banner.jpg");
        background-size    : cover;
        background-position: center;
        background-repeat  : no-repeat;
        position           : relative;


    }

    .overlay-div {
        background-color: #7B9AC9;
        opacity: 0.3;
        height          : 100%;
        z-index         : 100;

    }

    .offer-box h3 {
        font-weight: 700;
        color   : white;
        position: absolute;
        font-size: 100px;
        top     : 33%;
        left   : 37%;
        z-index : 200;
        border: 5px white solid;
        padding: 0.2em;
    }
}

#cinemas {
    margin-top   : 6rem !important;
    margin-bottom: 2rem !important;

    .title-row {
        position: relative;
    }

    .cinema-big-header {
        font-size  : 41px;
        font-weight: 300;
        color      : #4F4F4F;
    }

    .cinema-small-header {
        position   : absolute;
        bottom     : -2em;
        font-size  : 26px;
        font-weight: 300;
        color      : #727272;
    }

    .cinema-info {
        span {
            font-size: 26px;
        }

        div {
            font-size: 16px;
        }
    }
}


.separator {
    height: 2rem;
}

#food {
    margin-top   : 10rem !important;
    margin-bottom: 10rem !important;
}

#food-separator {
    max-width: 1900px;
}

#food-separator:after {
    content   : '';
    display   : block;
    width     : 100%;
    height    : 1px;
    background: #ccc;
    margin-top: -90px;
}

#one-cinemas-logo {
    position  : relative;
    width     : 280px;
    padding   : 40px;
    margin    : 0 auto;
    background: white;
}

#food-court-logo {
    position  : relative;
    width     : 200px;
    padding   : 15px;
    margin    : 0 auto;
    background: white;
}

#food-court-logo img {
    display: block;
}

@media(min-width: 1900px) {

    .separator {
        height: 10rem;
    }

    #cinemas {
        height: 500px;

        img {
            bottom: 1em;
            height: 480px;
        }

        .separator {
            border           : 0;
            height           : 55px;
            background-repeat: no-repeat;
        }

        .cinema-info {
            font-size: 26px;
            color    : #4F4F4F;
        }

        .runtime {
            font-size: 16px;
            color    : #4F4F4F;
        }

    }
}